   <body>
    <img class="wave" src="../../assets/img/wave.png">
    <div class="container">
      <div class="img">
        <img src="../../assets/img/currency.png">
      </div>
      <div class="login-content">
        <form [formGroup]="credentials" (ngSubmit)="login()">
          <img src="../../assets/icon/avatar.svg">
          <h2 class="title">Bienvenido</h2>
                 <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="email" class="form-control" formControlName="email" placeholder="dirección de email">
                      <ion-note slot="error" *ngIf="(email.dirty || email.touched) && email.errors"> <b>La dirección de email no es válida</b></ion-note>
                      <label >Mail</label>
                    </div>
                 </div>
                 <div class="input-div pass">
                    <div class="i"> 
                       <i class="fas fa-lock"></i>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="password" class="form-control" formControlName="password"  placeholder="contraseña">
                      <ion-note slot="error" *ngIf="(password.dirty || password.touched) && password.errors"> <b>Contraseña incorrecta</b></ion-note>
                      <label >Contraseña</label>
                   </div>
                </div>
                <p><a routerLink="/recuperar-usuario"> <b>Recuperar contraseña</b></a></p>
          
                <p> <a routerLink="/registro"> No tienes cuenta, <b>Registarse</b></a></p>
                <input type="submit" class="btn" value="Login">
              </form>
          </div>
      </div>
      
  </body>
  

