.foto {

    margin-bottom: 10px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;


}
.mapa{
    text-align: center;
    align-items: center;
}
