<ion-header>
  <ion-toolbar color="myColor">
    <ion-title>Ayuda</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

  <body>
    <img class="wave">
    <div class="container">
      <div class="img">
        <img src="../../assets/img/20943705.jpg">
      </div>
      <div class="login-content">
        <form >
          
          <h2 class="title">Contactenos</h2>
                 <div class="input-div one">
                    <div class="i">
                        <i class="fas fa-user"></i>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control"  placeholder="dirección de email">
                      
                      <label >Nombre</label>
                    </div>
                 </div>
                 <div class="input-div pass">
                    <div class="i"> 
                       <i class="fas fa-lock"></i>
                    </div>
                    <div class="form-floating mb-3">
                      <input type="text" class="form-control"   placeholder="contraseña">
                      
                      <label >Email</label>
                   </div>
                </div>
                <textarea style="height: 150px; width: 100%; background-color:darkgray;" type="text" placeholder="Ingrese su consulta">

                </textarea>
                <input type="submit" class="btn" value="Enviar">
              </form>
          </div>
      </div>
      
  </body>