
img{
  height: 300px;
  margin-bottom: 10px;
}

.preview{
  margin: auto;
  margin-top: 10px;
  width: 100%;
  max-width: 600px;
  text-align: center;
  display: flex;
  justify-content: center;
  cursor:pointer;
  
}
ion-avatar {
  width: 300px;
  height: 128px;
}



